html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

textarea, input, button {
  outline: none;
}

.window-button, .window .buttons .close-btn, .window .buttons .minimize, .window .buttons .maximize {
  padding: 0;
  margin: 0;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  background-color: gainsboro;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}


.window {
  animation: bounceIn 1s ease-in-out;
  width: 1350px;
  overflow: auto;
}
.window .handle {
  height: 22px;
  background: linear-gradient(0deg, #d8d8d8, #ececec);
  border-top: 1px solid white;
  border-bottom: 1px solid #b3b3b3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22px;
  text-align: center;

}
.window .buttons {
  position: absolute;
  float: left;
  margin: 0 8px;
  overflow: auto;
}
.window .buttons .close-btn {
  background-color: #ff6159;
  overflow: auto;
}
.window .buttons .minimize {
  background-color: #ffbf2f;
  overflow: auto;
}
.window .buttons .maximize {
  background-color: #25cc3e;
  overflow: auto;
}
.window .terminal {
  padding: 4px;
  height: 608px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 16px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: auto;
  overflow: hidden;
}

.terminal-black
{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.terminal-white
{
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.terminal-green
{
  background-color: rgba(77, 94, 32, 0.9);
  color: white;
}

.window .terminal::after {
  content: "|";
  animation: blink 2s steps(1) infinite;
}

.prompt {
  color: red;
}

.path {
  color: red;
}

.message
{
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  display: none;
}

.openbtn
{
  border: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(21, 21, 21, 0.5);
  padding: 10px;
}

.openbtn:hover
{
  cursor: pointer;
  text-decoration: underline;
}



/*css for dock*/
.dock
{
  height: 7%;
  width: 80%;
  min-height: 30px;
  position: absolute;
  bottom: 3%;
  background-color: rgba(21, 21, 21, 0.7);
  overflow: auto;
}


/*css for individual dock item*/
.dock-item
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 4%;
  min-width: 25px;
  margin-left: 2%;
  border: 2px solid rgba(21, 21, 21, 0.1);
}


/*css for item on hovering*/
.dock-item:hover
{
  border: 2px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
}


/*css for item when selected*/
.item-selected
{
  border: 2px solid rgba(255, 255, 255, 0.7);
}


/*css for minimized or closed item*/
.item-minimized
{
  visibility: hidden;
}

.block-container
{
  position: absolute;
  right: 2%;
  top: -1%;
}
.holder.block
{
	background-color: rgb(80, 79, 79);
  color: white;
	border: 5px solid rgb(42, 42, 42);
	text-align: center;
	text-transform: capitalize;
  padding: 5px;
  cursor: pointer;
}
ul
{
  list-style: none;
}

.block
{
  background-color: rgba(21, 21, 21, 0.9);
  width: 100%;
  color: white;
	text-align: center;
	text-transform: capitalize;
  padding: 5px;
  cursor: pointer;
}

.block-display
{
  display: none;
}

.theme-selected
{
  border: 2px solid white;
}


.theme-visibility
{
  display: none;
} 






@keyframes blink {
  50% {
    color: transparent;
  }
}
@keyframes bounceIn {
  0% {
    transform: translateY(-1000px);
  }
  60% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}






